<!-- creating new project -->
<div id="createProject">
    <div class="create-box">
        <h2>Create New Project</h2>
        <form action="/project/create" method="post">
            <div class="user-box">
                <input type="text" name="projectname" autocomplete="off" id="" required>
                <label>Name of project</label>
            </div>
            <div class="user-box">
                <input type="text" name="projectdescription" autocomplete="off" id="" required>
                <label>Description of project</label>
            </div>
            <div class="user-box">
                <input type="text" name="projectauthor" autocomplete="off" id="" required>
                <label>Author of project</label>
            </div>
            <div class="SubmitBtn">
            <input type="submit" value="Create a project">
            </div>
        </form>       
      </div>
</div>