// header part style
header{
    .heading{
        display:flex;
        justify-content: space-around;
        color: #b7b2b2;
        text-shadow: -6px 7px 5px #00000096;
        p{
            margin: auto;    
            margin-left: 150px;
            padding: 10px;
            font-size: 40px;
            text-align: center;
            width: 70%;
            font-weight: bolder;
            
        }
            a{
                cursor: pointer;
                text-decoration: none;
                font-size: 25px;
                padding: 10px;
                color:rgb(247, 165, 165);
                &:hover{
                    color: white;
                    background-color: transparent;
                }           
        }
    }
}