#createProject .create-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px; }
  #createProject .create-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #f7a5a5;
    text-align: center; }
  #createProject .create-box .user-box {
    position: relative; }
    #createProject .create-box .user-box input {
      width: 100%;
      padding: 10px 0;
      font-size: 16px;
      color: #fff;
      margin-bottom: 30px;
      border: none;
      border-bottom: 1px solid #fff;
      outline: none;
      background: transparent; }
      #createProject .create-box .user-box input:focus ~ label, #createProject .create-box .user-box input:valid ~ label {
        top: -20px;
        left: 0;
        color: #a5eff3;
        font-size: 12px; }
    #createProject .create-box .user-box label {
      position: absolute;
      top: 0;
      left: 0;
      padding: 10px 0;
      font-size: 16px;
      color: #fff;
      pointer-events: none;
      transition: .5s; }
    #createProject .create-box .user-box a:hover {
      background: #03e9f4;
      color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4; }
    #createProject .create-box .user-box #selectbox {
      width: 100%;
      padding: 10px 0;
      font-size: 16px;
      color: #fff;
      margin-bottom: 20px;
      border: none;
      border-bottom: 1px solid #fff;
      outline: none;
      background: transparent; }
      #createProject .create-box .user-box #selectbox option {
        color: black; }
  #createProject .create-box input[type="submit"] {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
    color: white;
    border-radius: 30px;
    background: #e35151;
    border: none;
    box-shadow: -4px 5px 8px 0px #252828;
    font-family: 'Indie Flower', cursive; }
  #createProject .create-box .SubmitBtn {
    display: flex;
    justify-content: center; }
