header .heading {
  display: flex;
  justify-content: space-around;
  color: #b7b2b2;
  text-shadow: -6px 7px 5px #00000096; }
  header .heading p {
    margin: auto;
    margin-left: 150px;
    padding: 10px;
    font-size: 40px;
    text-align: center;
    width: 70%;
    font-weight: bolder; }
  header .heading a {
    cursor: pointer;
    text-decoration: none;
    font-size: 25px;
    padding: 10px;
    color: #f7a5a5; }
    header .heading a:hover {
      color: white;
      background-color: transparent; }
